.header {
    padding: 0;
    margin: 30px auto 0;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}


.header__title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    margin: 0;
    padding: 8px 20px;

}

.header__container {
    display: flex;
    align-items: flex-end;
}